.boton1
 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}
.boton2
 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}
.boton3
 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
} 



